body {
    background-color: red;
    padding: 0; 
    margin: 0;
}

.video-wrapper {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 800px;
    object-fit: cover;
    overflow: hidden;
    z-index: 4;
}

.index-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.carousel-wrapper {
    position: relative;
    top: 950px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: 1;
    min-height: 300px;
}

.carousel-item {
    background: tomato;
    width: 400px;
    height: 800px;
    object-fit: cover;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    flex-basis: 0;
}

.brands-wrapper {
  position: relative;
  top: 950px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.brand {
  display: flex;
  object-fit: cover;
  width: 100%;
  max-height: 550px;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}


.see-more-button {
  position: absolute;
  z-index: 10;
  margin-top: 490px;
  padding: 10px 20px 10px 20px;
  background: white;
  border: none;
  color: black;
  font-size: 10px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 70%;
}

.see-more-button a {
  opacity: 10%;
  text-decoration: none;
  color: black;
}

.brand img {
  width: 100%;
}

.footer-wrapper {
  position: relative;
  top: 950px;
  min-height: 600px;
  width: 100%;
  z-index: 5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 600px;
  width: 100%;
  z-index: 8;
  background-color: rgb(0, 0, 0);
}

.footer-text {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 50;
  position: fixed;
  width: 100%;
  min-height: 100px;
}

.top-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  order: 1;
  flex-basis: 0;
  background-color: red;
}

.top-header-wrapper-left {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  background-color: white;
  width: 100%;
  order: 1;
}

.languages {
  display: flex;
  align-self: center;
  padding-left: 20px;
  font-size: 13px;
}

.top-header-wrapper-right {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: row-reverse;
  background-color: white;
  width: 100%;
  order: 3;
  justify-content: right;
}

.top-header-wrapper-right img {
  width: 20px;
  object-fit: contain;
  padding-right: 15px;
}

.top-header-wrapper-right a {
  align-self: center;
}

.top-header-wrapper-middle {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  background-color: white;
  width: 100%;
  order: 2;
  justify-content: center;
}

.handwritten {
  font-family: "Great Vibes";
  color: black;
  font-size: 40px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.bottom-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  order: 2;
  flex-basis: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropbtn {
  padding: 10px 15px 10px 15px;
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 0;
  background-color: white;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  font-size: 18px;
  font-family: 'PT Sans Narrow', monospace;
}

.dropdown-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
}

.dropdown-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 3;
  flex-grow: 1;
  flex-basis: 0;
}

.dropdown-3 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 4;
  flex-grow: 1;
  flex-basis: 0;
}

.dropdown-4 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 5;
  flex-grow: 1;
  flex-basis: 0;
}

.dropdown-5 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 6;
  flex-grow: 1;
  flex-basis: 0;
}

.dropdown-6 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 7;
  flex-grow: 1;
  flex-basis: 0;
}

.dropdown-content-1 {
  display: flex;
  opacity: 0%;
  height: 0;
  background-color: white;
  width: 100%;
  z-index: 60;
  left: 0;
  top: 100%;
  position: absolute;
  transition-property: opacity, height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.dropdown-1:hover .dropdown-content-1 {
  display: flex;
  opacity: 100%;
  height: 400px;
  transition-property: opacity, height;
  transition-duration: 0.5s;
  transition-delay: 0.4;
  transition-timing-function: ease;
}

.dropdown-content-2 {
  display: flex;
  opacity: 0%;
  height: 0;
  background-color: white;
  width: 100%;
  z-index: 60;
  left: 0;
  top: 100%;
  position: absolute;
  transition-property: opacity, height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.dropdown-2:hover .dropdown-content-2 {
  display: flex;
  opacity: 100%;
  height: 400px;
  transition-property: opacity, height;
  transition-duration: 0.5s;
  transition-delay: 0.4;
  transition-timing-function: ease;
}

.dropdown-content-3 {
  display: flex;
  opacity: 0%;
  height: 0;
  background-color: white;
  width: 100%;
  z-index: 60;
  left: 0;
  top: 100%;
  position: absolute;
  transition-property: opacity, height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.dropdown-3:hover .dropdown-content-3 {
  display: flex;
  opacity: 100%;
  height: 400px;
  transition-property: opacity, height;
  transition-duration: 0.5s;
  transition-delay: 0.4;
  transition-timing-function: ease;
}

.dropdown-content-4 {
  display: flex;
  opacity: 0%;
  height: 0;
  background-color: white;
  width: 100%;
  z-index: 60;
  left: 0;
  top: 100%;
  position: absolute;
  transition-property: opacity, height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.dropdown-4:hover .dropdown-content-4 {
  display: flex;
  opacity: 100%;
  height: 400px;
  transition-property: opacity, height;
  transition-duration: 0.5s;
  transition-delay: 0.4;
  transition-timing-function: ease;
}

.filler-div-first {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 1;
  flex-grow: 2;
  flex-basis: 0;
}

.filler-div-last {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  order: 8;
  flex-grow: 2;
  flex-basis: 0;
}