body {
  background-color: beige;
  padding: 0;
  margin: 0;
}

.header-wrapper {
  display: flex;
  background-color: white;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  order: 3;
  flex-grow: 2;
  flex-basis: 0;
}

.menu-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-wrapper p {
  display: flex;
  padding: 0;
  margin: 0 auto;
  font-size: 40px;
  font-family: "Brush Script MT";
}

.menu-item button {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Founders-Grotesk", monospace, sans-serif;
  border: none;
  background: none;
  font-size: 17px;
  padding: 0 20px 10px 20px;
  cursor: pointer;
}

.submenu-wrapper {
  display: none;
}

.submenu-1 {
  display: flex;
  opacity: 0%;
  height: 0;
  flex-direction: column;
  width: 100vw;
  margin-left: -40rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.submenu-1 a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px 0 10px 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-1:hover .submenu-1 {
  display: flex;
  opacity: 100%;
  height: 20rem;
  flex-direction: column;
  width: 100vw;
  margin-left: -40rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  box-shadow: 20px 20px 20px 26px rgb(255, 255, 255), -20px 20px 20px 26px rgb(255, 255, 255);
}

.submenu-2 {
  display: flex;
  opacity: 0%;
  height: 0;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.submenu-2 a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px 0 10px 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-2:hover .submenu-2 {
  display: flex;
  opacity: 100%;
  height: 20rem;
  flex-direction: column;
  width: 100vw;
  margin-left: -44.27rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  box-shadow: 20px 20px 20px 26px rgb(255, 255, 255), -20px 20px 20px 26px rgb(255, 255, 255);
}

.submenu-3 {
  display: flex;
  opacity: 0%;
  height: 0;
  flex-direction: column;
  width: 100%;
  margin-left: -40rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.submenu-3 a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px 0 10px 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-3:hover .submenu-3 {
  display: flex;
  opacity: 100%;
  height: 20rem;
  flex-direction: column;
  width: 100%;
  margin-left: -49.66rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  box-shadow: 20px 20px 20px 26px rgb(255, 255, 255), -20px 20px 20px 26px rgb(255, 255, 255);
}

.submenu-4 {
  display: flex;
  opacity: 0%;
  height: 0;
  flex-direction: column;
  width: 100%;
  margin-left: -40rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.submenu-4 a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 10px 0 10px 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-4:hover .submenu-4 {
  display: flex;
  opacity: 100%;
  height: 30rem;
  flex-direction: column;
  width: 100%;
  margin-left: -55.6rem;
  position: absolute;
  background-color: white;
  transition-property: opacity, height;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  box-shadow: 20px 20px 20px 26px rgb(255, 255, 255), -20px 20px 20px 26px rgb(255, 255, 255);
}

.navbar-icons {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  flex-basis: 0;
  order: 3;
  justify-content: right;
  padding: 5px 5px 0 0;
}

.navbar-icons img {
  display: flex;
  width: 20px;
  height: auto;
  object-fit: contain;
  padding-right: 20px;
}

.navbar-logo {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  order: 1;
  justify-content: left;
  padding-left: 20px;
}

.navbar-logo img {
  display: flex;
  width: 50px;
  height: auto;
  object-fit: contain;
}

.video-wrapper {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  z-index: 4;
}

.index-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.carousel-wrapper {
  position: relative;
  top: 950px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.carousel-item {
  background: tomato;
  width: 400px;
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-basis: 0;
}

.brands-wrapper {
  position: relative;
  top: 950px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.brand {
  object-fit: cover;
  width: 100vw;
  height: auto;
  max-height: 58vh;
}

.brand img {
  width: 100vw;
}

.footer-wrapper {
  position: relative;
  top: 950px;
  min-height: 200px;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=indexpage.css.map */
